{% extends 'base_layout.html' %}

{% block body %}
<div class="mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="touch">
                <div class="card text-left">
                    <div class="card-body">
                        <h5 class="text-center"> </h5>

                        <div class="container">

                            <div class="row">
                              <div class="col-12">

                                    <div class="view overlay zoom">
                                        <div class="col-xl-5 col-md-4 mb-3 text-center">

                                            <img src="https://scontent.fbkk22-3.fna.fbcdn.net/v/t1.0-9/122598629_3489414201141791_8623145838869894462_n.jpg?_nc_cat=110&ccb=2&_nc_sid=09cbfe&_nc_ohc=jaurOhCw9NIAX9kIz2L&_nc_ht=scontent.fbkk22-3.fna&oh=abea37f66cb486bde388bade61b9d94a&oe=603A10E5" class="img-fluid z-depth-1 rounded-circle"
                                              alt="Responsive image">
                                              <br>
                                              <br>
                                              นาย ชลวิทย์ วิฑูรชาตรี รหัสนิสิต 62102010431
                                          </div>
                                    </div>
                              </div>
                                    
                           
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}